.email-sent-card {
  max-width: 600px;
  margin: 3rem auto;
  text-align: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  h1 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}
